/* Mixins & constants */
body {
  background-color: white;
  min-width: 1085px;
  /* Officers page specific styling */
}
body#officers img {
  display: inline-block;
}
body#officers ul {
  display: inline-block;
  vertical-align: top;
}

#content a, #sidebar a {
  color: #010066;
}
#content a:hover, #sidebar a:hover {
  background-color: #010066;
  color: white;
  text-decoration: none;
}

h1 {
  margin-top: 0.75em;
}

/* Vertical cal cooking club words TODO: make words/svg */
#ccc {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 120px;
}
#ccc a {
  display: block;
  border: none;
  color: #010066;
  margin-left: -4px;
  margin-top: 45px;
  text-decoration: none;
}

/* Main site navigation */
nav {
  border-bottom: 1px dotted #444444;
  /* Moved height to li because of weird rendering bug that had li height=0 */
  margin-left: 120px;
}
nav ul {
  height: 100%;
}
nav ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  padding-right: 20px;
  position: relative;
  vertical-align: bottom;
  width: 120px;
}
nav ul li a {
  bottom: 0;
  color: #999999;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  width: 100%;
}
nav ul li a:hover, nav ul li a.current {
  color: #010066;
}

/* Main site content */
#content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444444;
  display: inline-block;
  min-height: 560px;
  padding: 0 20px 2em 120px;
  width: 720px;
}

/* Sidebar to hold events n shit */
#sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-left: 30px;
  vertical-align: top;
  width: 360px;
}
#sidebar a {
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
#sidebar h3 {
  color: #444444;
}
#sidebar iframe {
  height: 60%;
  min-height: 400px;
}

.label {
  font-weight: bold;
}
.label:after {
  content: ":";
}

/* Page specific styles */
#calendar {
  background-color: white;
  min-width: inherit;
}
#calendar iframe {
  height: 100%;
  width: 100%;
}

.important {
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 2em;
}

/* Officers */
.officer_name {
  color: #444444;
  margin-top: 0;
}

.label {
  color: black;
}
