-@title = 'About'
%p
  The Cal Cooking Club works together with Bay Area food businesses to bring the culinary arts and slow food movement to Berkeley students and faculty as well as the greater Bay Area community members.