-@title = "Events"

.important=link 'Upcoming Events', 'calendar.html', {:target => '_blank'}
  
%h2 General Meetings 
%p Three times a semester Cooking Club hosts general meetings that are free to students and open to the public. At these meetings chefs from much-loved local restaurants such as La Mediterranee, Venezia, Corso Trattoria, and Baywolf give delicious demos of a variety of cuisines. Come for plenty of free samples, to learn more about what we do, and to sign up for events!

%h2 Restaurant Sessions
%p We send you into the kitchens of local restaurants to cook with the chef! A one-of-a-kind opportunity as well as an affordable professional cooking lesson.

%h2 Student Cooking Workshops
%p Get a lesson from a more experienced member of the club. An informal style cooking lesson that is sure to leave you with a wonderful recipe to take home!

%h2 Dine About Town
%p Explore new restaurants with fellow club members! Each month the DAT committee chooses a restaurant, either a place that is new in town or a much-loved local favorite, and arranges a special dining event for the club. In the past they have managed fantastic deals with the owners and chefs such as a 5-course prix fixe meal for $10 and Q&A time with knowledgable chefs. Come to tantalize your palate and spare your wallet, all in the company of fellow foodies!

%h2 Potlucks
%p Once or twice a month Cooking Club hosts potlucks with entertaining and delicious themes, open to all club members. In the past we have done Fusion Foods, Iron Chef - secret ingredient apples, Deep Fried Fun, Harvest Festival, Things You Can Dip, and much more! A prize, usually a $15-25 gift certificate to a local restaurant, is awarded for best dish based on popular vote.

%h2 Community Outreach
%p Discover ways in which food and cooking can benefit others. Each month we venture to Satellite Housing, a senior housing center in Oakland, to cook with the residents. Find out the difference you can make in someone's day with a just a couple hours of your time and some caring!