-@title = "Get Involved"
%h2 Join the Club!
%p Sign-up to be on the listserv and recieve 3-4 emails per month, including our newsletter
%p 
  Questions? Email 
  = link 'secretary@cooking.berkeley.edu', 'mailto:secretary@cooking.berkeley.edu', {:title => 'Secretary'}

%h2 Become a member!
%p Membership dues:
%p $10 for the year/$25 for life (includes a free CCC t-shirt!)
%p *to participate in CCC events other than general meetings, you must become a member.

%h2 Become an officer!
%p Officer positions available:
%ul
  %li List of positions
  %li Position
  
%p 
  Email 
  = link 'president@cooking.berkeley.edu', 'mailto: president@cooking.berkeley.edu', {:title => 'President'}

= link 'Check us out on Facebook', 'http://www.facebook.com/group.php?gid=2200848630', {:target => '_blank', :title => 'Facebook Group'}