-@title = nil
%h1 Second General Meeting
%h2{:style => 'color: #333'}
  Tuesday, Nov. 16th from 7:30 - 8:30 PM at KDR
%p This is just a reminder for our Second General Meeting tomorrow, November 16th from 7:30 - 8:30 PM at KDR (2739 Channing Circle). 
%p Vanessa from Vanessa's Bistro will be demonstrating Vietnamese style shrimp (and tofu) rolls and curry chicken! 
%p So come with an appetite (since there will be plentiful samples), make sure you sign up for our events, and pick up/buy our CCC t-shirts!

%h1 The Culinary Arts at CAL
%p 
  Cooking Club is a great way for students to take advantage of the extraordinary food culture of the Bay Area. We engage a diverse palate of eaters of all ages- from entering freshman to graduate students, novice cooks to seasoned chefs, let Cal Cooking Club be your guide to the gastronomic delights of Berkeley! Check us out on
  =link 'Facebook', 'http://www.facebook.com/group.php?gid=2200848630'
  and
  =link 'Flickr!', 'http://www.flickr.com/groups/calcooking/'
.important=link "Join our mailing list!", "https://calmail.berkeley.edu/manage/list/listinfo/calcookingclub@lists.berkeley.edu", {:target => '_blank'}