@import "mixins"

body
  background-color: white
  min-width: $total-width + 5

#content a, #sidebar a
  color: #010066
  &:hover
    background-color: #010066
    color: white
    text-decoration: none

h1
  margin-top: .75em

/* Main site navigation
nav
  border-bottom: 1px dotted #444
  /* Moved height to li because of weird rendering bug that had li height=0
  ul
    height: 100%
    li
      @include box-sizing
      display: inline-block
      min-width: $column-width
      padding-right: 20px
      a
        @include box-sizing
        color: #999
        display: inline-block
        font-family: Helvetica, Arial, sans-serif
        font-size: 18pt
        font-weight: bold
        height: $row-height
        padding-top: 47px
        text-decoration: none
        width: 100%
        &:hover, &.current
          color: #010066
        &#logo
          height: auto
          padding-top: 0

/* Main site content
#content
  @include box-sizing
  color: #444
  display: inline-block
  min-height: $row-height * 7
  padding: 0 20px 2em $column-width + 20
  width: $column-width * 6

/* Sidebar to hold events
#sidebar
  @include box-sizing
  display: inline-block
  height: auto
  margin-top: 2em
  padding-bottom: 1em
  padding-left: $column-width/4
  vertical-align: top
  width: $column-width * 3
  a
    display: inline-block
    font-family: Verdana, sans-serif
    font-size: 15px
    font-weight: bold
  h3
    color: #444
  iframe
    height: 400px

/* Page specific styles
#calendar
  background-color: white
  min-width: inherit
  iframe
    height: 100%
    width: 100%

.important
  display: inline-block
  font-family: Verdana, sans-serif
  font-size: 2em
  margin-bottom: .5em

.home_image
  width: 480px

/* Officers
#officers #content
  img
    display: inline-block
  ul
    display: inline-block
    list-style: none
    vertical-align: top
    li
      padding-bottom: 1em

.officer_name
  color: #444
  margin-top: 0

.email
  font-size: 12pt
  font-weight: normal

.label
  color: black
  font-weight: bold

.thumb, .label
  @include box-sizing
  display: inline-block
  padding-right: 20px
  text-align: right
  width: 120px

.label
  vertical-align: top

.title, .text
  display: inline-block
  width: $column-width * 3