@import "mixins"

body
  background-color: white
  min-width: $column-width * 9 + 5
  /* Officers page specific styling
  &#officers 
    img
      display: inline-block
    ul
      display: inline-block
      vertical-align: top

#content a, #sidebar a
  color: #010066
  &:hover
    background-color: #010066
    color: white
    text-decoration: none

/* Main site navigation
nav
  border-bottom: 2px solid #010066
  height: $row-height
  margin-left: $column-width
  ul
    height: 100%
    li
      @include box-sizing
      display: inline-block
      height: 100%
      padding-right: 20px
      position: relative
      vertical-align: bottom
      width: $column-width
      a
        bottom: 0
        color: #999
        display: block
        font-family: Helvetica, Arial, sans-serif
        font-size: 18pt
        font-weight: bold
        position: absolute
        text-decoration: none
        width: 100%
        &:hover, &.current
          color: #010066

/* Main site content
#content
  @include box-sizing
  display: inline-block
  min-height: $row-height * 7
  padding: 0 20px 2em $column-width
  width: $column-width * 6
  p
    color: #444

/* Sidebar to hold events n shit
#sidebar
  @include box-sizing
  border-left: 1px dotted #444
  display: inline-block
  height: auto
  margin-top: 1em
  padding-bottom: 1em
  padding-left: $column-width/4
  vertical-align: top
  width: $column-width * 3
  a
    display: inline-block
    font-size: 15px
    font-weight: bold
  h3
    color: #444
  iframe
    height: 500px
    

.label
  font-weight: bold
  &:after
    content: ':'

/* Page specific styles
#calendar
  background-color: white
  min-width: inherit
  iframe
    height: 100%
    width: 100%

#involved
  display: inline-block
  font-size: 2em